body {
    width: 300px;
    height: 450px;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
    display: flex;
    flex-direction: column;
    border: 0px;

}

.centre {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header {
    width: 100%;
    background-color: #f4eef5;
    padding: 10px 0;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}

.header h1 {
    margin: 0;
    color: rgb(4, 4, 39);
    font-weight: bold;
    font-size: 17px;
}

.logo {
    width: 35px;
    height: 35px;
    margin-right: 8px;
    border-radius: 20%;
}

.content {
    border-top: 1px solid rgba(4, 4, 39, 0.2);
    border-bottom: 1px solid rgba(4, 4, 39, 0.2);
    padding: 10px;
    height: 100%;
    background: linear-gradient(210deg, #f6d3fa, #f4eef5, #f1dcf4);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.content::-webkit-scrollbar {
    width: 4px;
    background: transparent;
}

.content::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.content::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}

#url {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.panel-btn {
    cursor: pointer;
    border-radius: 4px;
    color: white;
    padding: 8px 20px;
    border: none;
    margin-top: 20px;
    background: linear-gradient(to bottom, #7c3692, #692b7c);
}

.opt-btn {
    color: #4c185c;
    font-size: 13.5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: transparent;
    transition: text-decoration 0.2s ease;
}

.opt-btn:hover {
    text-decoration: underline;
    text-decoration-thickness: 1px;

}

button:hover {
    opacity: 0.95;
}

.current-article {
    margin: 12px 0;
    width: 70%;
    background-color: #fff;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.current-article h2 {
    margin: 0 0 5px 0;
    font-size: 14px;
    color: #333;
    font-weight: bold;
}


#publisher-placeholder {
    font-weight: bold;
}


#predict-button {
    margin: 28px 0 0 0;
}

#prediction {
    font-style: italic;
    text-decoration: underline;
}

.sub-text {
    color: #777;
    margin: 0;
    font-size: 12px;
}

.hidden {
    display: none;
}

.navbar {
    height: 64px;
    width: 100%;
    margin: 0;
    display: flex;
    background-color: #f4eef5;
    justify-content: center;
    gap: 2.5em;
    align-items: center;
}

.navbar button {
    all: unset;
    color: #333;
    margin: 5px 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.navbar button i {
    font-size: 20px;
    color: #666;
}

.heading {
    margin: 6px;
}

.bottom-opts {
    margin-top: auto;
    padding-top: 12px;
}
/* 
#settings-button {
    position: absolute;
    bottom: 60px;
    right: 20px;
    border-radius: 50%;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.settings-btn:hover {
    background-color: #555;
} */