.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal.show {
    display: flex;
    /* show modal */
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.close-button {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-button:hover,
.close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.setting-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
}

.setting-list button p:hover {
    text-decoration: underline;
}

.checkbox-container {
    display: flex;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
}

.checkbox-container input {
    display: none;
}

.checkmark {
    width: 14px;
    height: 14px;
    border: 2px solid black;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
}

.checkbox-container input:checked+.checkmark {
    background-color: #4c185c;
}

.checkbox-container p {
    margin: 0;
}

#view-button {
    padding: 0;
}

#view-button i {
    /* margin: 0 3px; */
    margin: 0 4px 0 2px;
}

.toggle-switch {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.toggle-switch input {
    display: none;
}

.checkmark {
    padding-left: 0.2em;
    width: 12px;
    height: 12px;
    border: 2px solid #555;
    border-radius: 4px;
    display: inline-block;
    position: relative;
    transition: background 0.3s, border-color 0.3s;
}

.checkmark::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.2s;
}

input:checked+.checkmark {
    background: #7c508a;
    border-color: #4c185c;
}

input:checked+.checkmark::after {
    opacity: 1;
}